{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>DjangoChat</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/chat.css" %}">
</head>
<body>

    <span>
        <a href="/">Home</a>

        {% if user.is_authenticated %}
            <a href="/logout/">Logout ({{ username }})</a>
        {% else %}
            {% block tol-bar-login %}
                <a href="/login/">Login</a>
                <a href="/register/"> Register</a>
            {% endblock %}
        {% endif %}
    </span>


    <div id="main">
        <div>
            {% block errors %}{% endblock %}
            {% block headline %}{% endblock %}
            {% block users %}
                <ul>
                {% for u in users %}
                 <li>
                    {% if user.is_authenticated %}
                        <a href="/room/{{ u.id }}">{{ u.username }}</a>
                    {% else %}
                        {{ u.username }}
                    {% endif %}
                </li>
                {% endfor %}
                </ul>
            {% endblock %}
            {% block editor %}{% endblock %}
            {% block login %}{% endblock %}
            {% block post %}{% endblock %}
            {% block content %}{% endblock %}
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static "js/chat.js" %}" type="text/javascript"></script>
    </div>
</body>
</html>

