{% extends "lobby/base.html" %}
{% block users %}{% endblock %}
{% block login %}
<div>
    <form method="post" action="/login/">
        {% csrf_token %}
        <div>

        <label for="username">Username</label><br/>
        <input type="text" name="username" id="username"><br/>
        <label for="password">Password</label><br/>
        <input type="password" name="password" id="password"><br/>
        <input class="button" type="submit" value="Войти"><br/>

        </div>
        {% if login_error %}
        <lable>{{ login_error }}</lable>
        {% endif %}
    </form>

</div>
{% endblock %}